#portfolio {
    margin: 20px;
}

.category {
    margin: 20px 0;
}

.video {
    margin: 10px 0;
}
body {
    font-size: 16px; 
}

@media (min-width: 768px) {
    body {
        font-size: 18px; 
    }

    header, footer {
        text-align: center;
    }

    main {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    .category {
        display: inline-block; 
        width: 30%; 
        margin: 10px; 
    }

    .video {
        width: 100%; 
    }
}


@media (min-width: 1024px) {
    .category {
        width: 20%; 
    }
}
